/ide/srf05_cc2530/iar/settings
/ide/srf05_cc2530/iar/temp
/ide/srf05_cc2530/iar/Backup of light_switch.ewp
/ide/srf05_cc2530/iar/light_switch.d51
/ide/srf05_cc2530/iar/light_switch.dep
/ide/srf05_cc2530/iar/Backup of light_switch.ewd
/ide/srf05_cc2530/iar/*.hex
